---
---

@import "{{ site.theme }}";

.site-footer-owner,
.site-footer-credits {
  display: none !important;
}

footer small {
  display: none !important;
}
header p.view {
  display: none !important;
}
/* Make content area wider + more readable */
section { width: 720px; font-size: 16px; line-height: 1.6; }
@media print, screen and (max-width: 960px) { section { width: auto; } }

/* Slightly tighten headings */
h1, h2 { margin-top: 0.8em; }
